[user]
	email = b.dubrovskiy@qsoft.ru
	name = Boris Dubrovskiy
[alias]
	a  = add
	st  = status --untracked-files=no
	cmt = commit
	br  = branch
	co  = checkout
	re  = reset
	rs  = reset
	fe  = fetch
	me  = merge
	mrg = merge
	d   = diff
	ds  = diff --staged
	ps  = push
	pl  = pull
	cpk = cherry-pick
[core]
	editor = vi
