[user]
	email = b.dubrovskiy@qsoft.ru
	name = Boris Dubrovskiy
[alias]
	a  = add
	st  = status --untracked-files=no
	cmt = commit
	br  = branch
	co  = checkout
	re  = reset
	fe  = fetch
	ps  = push
	pl  = pull
[core]
	editor = vi
